.text-area {
  --padding: 0.5rem;
  --border-width: 1px;
  --padding-and-border: calc(2 * var(--padding) + 2 * var(--border-width));

  display: grid;

  textarea {
    background-color: var(--color-surface-3);
    color: var(--color-text);

    min-block-size: calc(1lh + var(--padding-and-border));
    block-size: calc(3lh + var(--padding-and-border));
    max-block-size: calc(5lh + var(--padding-and-border));
    resize: vertical;

    padding: var(--padding);

    border: var(--border-width) solid var(--color-border);
    border-radius: var(--border-radius-2);

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: -2px;
    }
  }

  .error {
    color: var(--color-danger);
  }

  &.error {
    textarea {
      border-color: var(--color-danger);
    }
  }
}
