.app {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.counter {
  display: grid;
  justify-items: center;
  gap: 1rem;

  inline-size: 10rem;

  padding: 1rem;

  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 0.5rem;

  .title {
    font-weight: bold;
  }

  .count {
    font-family: monospace;
  }

  .increment {
    text-transform: uppercase;
  }
}
